.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  margin: 0;
  color: white;
}

.buttons {
  display: flex;
}

.button {
  margin-left: 10px;
  color: #26B869;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
